.item {
  width: 250px;
}

.item p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  gap: 20px;
}

.item-new-price {
  color: grey;
  font-size: 18px;
  font-weight: 600;
}

.item-old-price {
  color: rgb(214, 127, 127);
  font-size: 10px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transition: 0.6s;
  transform: scale(1.05);
}

.item img {
  width: 240px;
  height: 240px;
}
